In [4]:
import pandas as pd
import numpy as np
import os

In [211]:
# POKEMON TABLES

# ['dex_id', 'name', 'height', 'weight', 'base_experience',
#        'evolves_from_species_id', 'evolution_chain_id', 'color_id', 'shape_id',
#        'habitat_id', 'capture_rate', 'growth_rate_id', 'forms_switchable',
#        'is_legendary', 'is_mythical']
pokemon = pd.read_csv('data/pokemon/pokemon.csv')

In [212]:
df = pd.read_csv('data/pokemon/pokemon_shape_prose.csv')

In [213]:
df

,pokemon_shape_id,local_language_id,name,awesome_name,description
0,1,5,Balle,Pomacé,Pokémon constitués uniquement d'une tête
1,1,9,Ball,Pomaceous,Pokémon consisting of only a head
2,2,5,Sinueux,Caudal,Pokémon avec un corps serpentin
3,2,9,Squiggle,Caudal,Pokémon with serpentine bodies
4,3,5,Poisson,Ichtyque,Pokémon disposant de nageoires
5,3,9,Fish,Ichthyic,Pokémon with fins
6,4,5,Bras,Brachial,Pokémon constitués d'une tête et de bras
7,4,9,Arms,Brachial,Pokémon consisting of a head and arms
8,5,5,Goutte,Alvin,Pokémon constitués d'une tête et d'un corps
9,5,9,Blob,Alvine,Pokémon consisting of a head and a base
10,6,5,Droit,Sciurine,Pokémon bipèdes disposant d'une queue
11,6,9,Upright,Sciurine,"Pokémon with a bipedal, tailed form"
12,7,5,Jambes,Crural,Pokémon constitués d'une tête et de jambes
13,7,9,Legs,Crural,Pokémon consisting of a head and legs
14,8,5,Quadrupède,Mensal,Pokémon quadrupèdes
15,8,9,Quadruped,Mensal,Pokémon with a quadruped body
16,9,5,Ailes,Alaire,Pokémon avec une seule paire d'aile
17,9,9,Wings,Alar,Pokémon with a single pair of wings
18,10,5,Tentacules,Ciliaire,Pokémon avec des tentacules ou possédant de mu...
19,10,9,Tentacles,Cilial,Pokémon with tentacles or a multiped body
20,11,5,Têtes,Polycéphale,Pokémon avec un corps multiple
21,11,9,Heads,Polycephalic,Pokémon consisting of multiple bodies
22,12,5,Humanoïde,Anthropomorphique,Pokémon bipèdes sans queue
23,12,9,Humanoid,Anthropomorphic,"Pokémon with a bipedal, tailless form"
24,13,5,Ailes d'insecte,Lépidoptère,Pokémon avec deux paires d'ailes
25,13,9,Bug wings,Lepidopterous,Pokémon with two or more pairs of wings
26,14,5,Armure,Chitineux,Pokémon avec un corps insectoïde
27,14,9,Armor,Chitinous,Pokémon with an insectoid body

In [190]:
dfr = df

In [187]:
df = df[df['dex_id'] < 152]

In [165]:
dfr = df[df['time_of_day'] == 9]

In [208]:
dfr = dfr.drop('known_move_id', axis=1)

In [147]:
dfr = drf.reset_index(drop=True)

In [186]:
df = df.rename(columns={"id":"dex_id"})

In [173]:
dfr

       dex_id  version_id                                          dex_entry
0           1           1  A strange seed was planted on its back at birt...
2           1           3  It can go for days without eating a single mor...
3           1           4  The seed on its back is filled with nutrients....
4           1           5  It carries a seed on its back right from birth...
5           1           6  While it is young, it uses the nutrients that ...
...       ...         ...                                                ...
17120     151          15  Apparently, it appears only to those people wh...
17121     151          16  Its DNA is said to contain the genetic codes o...
17123     151          17  Because it can use all kinds of moves, many sc...
17150     151          25  Mew is said to possess the genetic composition...
17167     151          31  When viewed through a microscope, this Pokémon...

[2951 rows x 3 columns]

In [155]:
pokemon.columns

Index(['dex_id', 'name', 'height', 'weight', 'base_experience',
       'evolves_from_species_id', 'evolution_chain_id', 'color_id', 'shape_id',
       'habitat_id', 'capture_rate', 'growth_rate_id', 'forms_switchable',
       'is_legendary', 'is_mythical', 'hp', 'attack', 'defense', 'special',
       'speed', 'type_one', 'type_two', 'genus'],
      dtype='object')

In [154]:
pokemon = pd.merge(pokemon,dfr,on=['dex_id'],how='inner')

In [156]:
pokemon.to_csv('data/pokemon/pokemon.csv',index=False)

In [210]:
dfr.to_csv('data/pokemon/pokemon_evolution.csv',index=False)

In [2]:

# ['color_id', 'color_name']
colors_id_to_name = pd.read_csv('data/lookup/colors.csv')

# ['habitat_id', 'habitat_name']
habitat_id_to_name = pd.read_csv('data/lookup/habitats.csv')


# ['dex_id', 'version_id', 'dex_entry']
pokemon_dex_entries = pd.read_csv('data/pokemon/pokemon_dex_entries.csv')

pokemon_evolution = pd.read_csv('data/pokemon/pokemon_evolution.csv')


pokemon_items = pd.read_csv('data/pokemon/pokemon_items.csv')

pokemon_moves = pd.read_csv('data/pokemon/pokemon_moves.csv')
pokemon_move_methods = pd.read_csv('data/pokemon/pokemon_move_methods.csv')


# [dex_id, name, genus] 
pokemon_species_names = pd.read_csv('data/pokemon/pokemon_species_names.csv')


#['pokemon_id', 'stat_id', 'base_stat', 'effort']
pokemon_stats = pd.read_csv('data/pokemon/pokemon_stats.csv')

# ['dex_id', 'type_id', 'slot']
pokemon_types = pd.read_csv('data/pokemon/pokemon_types.csv')

In [176]:
df3 = pd.read_csv('data/pokemon/pokemon_shapes.csv')

In [181]:
df3 = df3.rename(columns={"identifier":"shape_name"})

In [182]:
df3

    shape_id shape_name
0          1       ball
1          2   squiggle
2          3       fish
3          4       arms
4          5       blob
5          6    upright
6          7       legs
7          8  quadruped
8          9      wings
9         10  tentacles
10        11      heads
11        12   humanoid
12        13  bug-wings
13        14      armor

In [183]:
df3.to_csv('data/pokemon/shapes.csv',index=False)

In [ ]:
df2 = pokemon_habitats

In [ ]:
df2.columns

In [ ]:

df.columns

In [ ]:
df.drop(df.columns[0], axis=1, inplace=True)

In [ ]:
df = df[['dex_id', 'name', 'height','weight','base_experience']]

In [ ]:
df2.rename(columns={"identifier":"habitat_name"}, inplace=True)

In [ ]:
df.drop('generation_id', axis=1, inplace=True)

In [ ]:
df.

In [ ]:
df2 = pokemon_species_names

In [ ]:
df

In [ ]:
df2 = df2[df2['dex_id'] < 152]

In [160]:
df['dex_entry'] = df['dex_entry'].str.replace('\n',' ')

In [ ]:
df.drop_duplicates(subset='dex_entry', keep='first', inplace=True, ignore_index=False)

In [ ]:
df = df[df['language_id'] == 9]

In [ ]:
df.drop('id', axis=1, inplace=True)

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df = df.rename(columns={"id":"dex_id"})